@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat|Raleway|Roboto+Mono&display=swap");

// Imported following font families:
// font-family: 'Roboto Mono', monospace;
// font-family: 'Raleway', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Inconsolata', monospace;

//  Fonts
$fontHeader: "Inconsolata", "Roboto-Mono", monospace;
$fontText: "Raleway", "Montserrat", sans-serif;
$colorTinelight: #fffff0;
$colorTinealmond: #e8d0b7;
$colorTinedark: #2a3439;
$colorTineneonblue: #0000ff;

// General

html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontText;
  color: $colorTinedark;
}

.container-fluid {
  background-color: $colorTinelight;
}

h3,
h4,
h5,
h6 {
  font-family: $fontHeader;
  color: $colorTineneonblue;
  text-align: left;
  margin-bottom: 0;
  font-size: 26px;
}

.row {
  margin-bottom: 10px;
}

a:hover {
  opacity: 0.8;
}

// name

#name {
  font-family: $fontHeader;
  font-size: 26px;
  padding: 10px;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  color: $colorTinelight;
  background-color: $colorTineneonblue;
}

// Scroll to top btn

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-family: $fontHeader;
  font-size: 20px;
  padding: 1px 6px;
  background-color: $colorTinealmond;
  color: $colorTineneonblue;
  border: 1px solid $colorTineneonblue;
  border-radius: 15px;

  &:hover {
    opacity: 0.8;
  }
}

// leftColumnFirstRow

#leftColumnFirstRow {
  padding: 15px;
  margin-bottom: 10px;
  background-color: $colorTinealmond;
  color: $colorTineneonblue;
  border-radius: 10px;
}

// Statement

#statement {
  text-align: center;
  z-index: 1;
}

// Picture

.responsive-image {
  width: 80%;
  height: auto;
  z-index: 0;
}

// Signature

#signature {
  margin-top: -18%;
  padding-right: 4%;
  z-index: 1;
}

//  Experience

#experience {
  h3 {
    border-bottom: 1px solid $colorTineneonblue;
    margin-bottom: 10px;
  }
  h4, h5, h6 {
    font-size: 18px;
  }
  p {
    text-align: justify;
    margin-bottom: 10px;
  }
}

// Work

#work {
  h3 {
    border-bottom: 1px solid $colorTineneonblue;
  }
}

.card {
  margin: 20px;
  border: px solid $colorTineneonblue;
  .card-body {
    background-color: $colorTinealmond;
  }
  h4 {
    font-size: 20px;
    text-align: center;
  }
  a {
    padding: 5px 60px;
    background-color: $colorTineneonblue;
    text-align: center;
    font-size: 12px;
    color: $colorTinelight;
    border-radius: 10px;
  }
}

// Back to top

.fixed {
  a {
    i {
      position: fixed;
      bottom: 40px;
      right: 10px;
      padding: 2px;
      height: 30px;
      width: 30px;
      color: $colorTineneonblue;
      text-align: center;
      border: 1px solid $colorTineneonblue;
      border-radius: 5px;
      background-color: $colorTinealmond;
    }
  }
}

// Footer
.page-footer {
  background-color: $colorTinealmond;
  margin: 0;
  padding: 10px 0;
  p {
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    .contact-icons {
      align-items: center;
    }
    li {
      align-items: center;
      display: inline-block;
      a {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        i {
          color: $colorTineneonblue;
          font-size: 125%;
        }
      }
    }
  }
}
