@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat|Raleway|Roboto+Mono&display=swap");

// Imported following font families:
// font-family: 'Roboto Mono', monospace;
// font-family: 'Raleway', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Inconsolata', monospace;

//  Fonts
$fontHeader: "Inconsolata", "Roboto-Mono", monospace;
$fontText: "Raleway", "Montserrat", sans-serif;

$colorTineblue: #110dd7;
$colorTinelight: #fffff0;
$colorTinealmond: #efdecd;
$colorTinedark: #2a3439;
$colorTineroyalblue: #4169e1;
$colorTineneonblue: #0000ff;

// General

html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontText;
  color: $colorTinedark;
}

.container-fluid {
  background-color: $colorTinelight;
}

h3,
h4,
h5,
h6 {
  font-family: $fontHeader;
  color: $colorTineneonblue;
  text-align: left;
  margin-bottom: 0%;
  font-size: 120%;
}

.row {
  margin-bottom: 2%;
}

a:hover {
  opacity: 0.8;
}

// Nav

.nav {
  margin-bottom: 3%;

  a {
    font-family: $fontHeader;
    font-size: 3vw;
    padding: 2%;
    margin: 5%;
    color: $colorTinelight;
    background-color: $colorTineneonblue;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media screen and (min-width: 1200px) {
  a.nav-link {
    font-size: 30px;
  }
}

// leftColumnFirstRow

#leftColumnFirstRow {
  padding: 5%;
  margin-bottom: 2%;
  background-color: $colorTinealmond;
  color: $colorTineneonblue;
  border-radius: 10px;
}

// Statement

#statement {
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  // margin-bottom: -15%;
  z-index: 1;
}

// Picture

.responsive-image {
  width: 80%;
  height: auto;
  z-index: 0;
}

// Signature

#signature {
  margin-top: -18%;
  padding-right: 4%;
  z-index: 1;
}

//  Experience

#experience {
  h3 {
    color: $colorTineneonblue;
    text-align: left;
    font-size: 130%;
    border-bottom: 1px solid $colorTineneonblue;
    margin-bottom: 1%;
  }
  h4 {
    color: $colorTineneonblue;
    text-align: left;
    margin-bottom: 0%;
    font-size: 120%;
  }
  h5 {
    color: $colorTineneonblue;
    text-align: left;
    margin-bottom: 0%;
    font-size: 120%;
  }
  h6 {
    color: $colorTineneonblue;
    text-align: left;
    margin-bottom: 0%;
    font-size: 100%;
  }
  p {
    text-align: justify;
    margin-bottom: 4%;

    .fab {
      text-align: left;
    }
  }
}

// Work

#work {
  h3 {
    color: $colorTineneonblue;
    text-align: left;
    font-size: 130%;
    border-bottom: 1px solid $colorTineneonblue;
    margin-bottom: 1%;
  }
}

.card {
  margin: 2%;
  padding: 1%;
  border: 1px solid $colorTineneonblue;
  .card-body {
    background-color: $colorTinealmond;
  }
  h4 {
    text-align: center;
  }
  a {
    padding: 1.5% 40%;
    background-color: $colorTineneonblue;
    color: $colorTinelight;
    border-radius: 10px;
  }
}

// Footer
.page-footer {
  background-color: $colorTinealmond;
  margin: 0;
  padding: 10px 0;
  p {
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    .contact-icons {
      align-items: center;
    }
    li {
      align-items: center;
      display: inline-block;
      a {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        i {
          color: $colorTineneonblue;
          font-size: 125%;
        }
      }
    }
  }
}
